
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row">
        <br />
        <div class="pt-5 col-md-6">
            <br />
            <br />
            <h2 class="text-center text-black">Horaio de Atencion</h2>
            <br />
            <h5 class="text-center ">Lunes - Sábado</h5>
            <h5 class="text-center ">9:00 a.m - 1:00 p.m</h5>
            <h5 class="text-center ">4:00 p.m - 8:00 pm</h5>
        </div>
        <div class="pt-5 col-md-6">
            <br />
            <br />
            <p class="text-center">
                Q'monada es una empresa joven el mercado de la belleza.<br />
                especializados en todas las técnicas para uñas: Acrilico Esculpido<br />
                Acriolico con extensiones Esmaltado semipermanent Decoraciones: <br />
                Glitters encapsulado relieves 3D
            </p>
            <img class="img-thumbnail" src="~/Content/CSSLOGIN/images/pp.png" />
        </div>
    </div>
</div>

